* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

#tudo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


body {
    background-color: rgba(200, 200, 200, 0.932);
}

.container { /* logo da pagina */
    background-color: rgb(186, 231, 245);
    height: 50vh;
    margin-top: -50px;
}

.container img {
    width: 100%;
    height: 50vh;
}


#menu ul {  /* menu navegação */
    list-style: none;
    text-align: center;
    padding: 0;
    background-color: rgb(73, 76, 75);
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: beige;
    text-decoration: none;
    padding: 30px;
    display: inline-block;
    transition: background .6s;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#menu ul li a:hover {
    background-color: rgb(73, 58, 244);
}


#menu ul ul {  /* sub-menu */ 
    display: none;
    left: 0;
    float: right;
    position: absolute;
}

#menu ul li:hover ul {
    display: block;
}

#menu ul ul {
    width:320px;
}

#menu ul ul li a {
    display: block;
}

#noticia {  /* sessão de navegação */
    flex: 1 0 auto;
}

#noticias .edit-form { /* Formulario */
    display: block;
} 
.for-geral {
    display: flex;
}


.edit-form {  
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
}

fieldset {
    border: 2px solid black;
    background-color: rgb(242, 239, 239);
    margin: 15px 200px 15px 200px
}

legend {
    text-align: center;
    padding: 10px;
    background-color: gray;
    color: beige;
    font-family: 'Roboto', sans-serif;
}

#noticia input,
textarea {
    text-align: center;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: rgb(210, 208, 206);
    border: 1px solid black;
    width: 300px;
}
textarea {
    resize: none;
}

.for-geral #for-me {
    text-align: center;
}


#for-me button {
    border: 1px solid black;
    margin-bottom: 8px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    width: 200px;
    background-color: rgb(210, 208, 206);
    cursor: pointer;
}

#for-me button:hover {
    background-color: rgb(73, 58, 244);
    transition: background .1s;
}


#footer {  /* Roda Pé */
    background-color: rgb(73, 76, 75);
    color: beige;
}

.copy {
    display: flex;
    justify-content: end;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    padding-right: 15px;
}

.midia-social h2 {
    font-size: 15px;
    padding-top: 30px;
    padding-left: 15px;

}

.midia-social img {
    height: 24px;
    margin-top: 20px;
    margin-left: 15px;
}

.midia-social img:hover {
    scale: 1.6;
}